<br><br><br>
<h1 style="text-align: center">Classes</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button mdbBtn type="button" color="default" mdbWavesEffect>Add New Class</button>
        </div>
    </div>
    <table class="table">
        <col width="30%">
        <col width="5%">
        <col width="5px">
        <tbody>
            <tr>
                <td style="font-size: 30px"><strong>Class 1</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-edit"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Class 2</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-edit"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Class 3</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-edit"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Class 4</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-edit"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Class 5</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-edit"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>