<style>
  #navbar
  {
    background-color:  #2bbbad !important;
  }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
      <div class="container"><a class="navbar-brand" href="#"><strong>DBM</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link active" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Registration">Register</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/SignIn">Login</a></li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- Intro Section-->
    
  </header>
