<style>
    #foot
    {
        background-color:  #2bbbad !important;
    }
</style>
<br>
<br>
<br>
<br>
<br>
<br>

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0" id = "foot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-5 flex-center"><a class="px-3"><i class="fab fa-facebook-f fa-lg white-text"></i></a><a class="px-3"><i class="fab fa-twitter fa-lg white-text"></i></a><a class="px-3"><i class="fab fa-google-plus-g fa-lg white-text"></i></a><a class="px-3"><i class="fab fa-linkedin-in fa-lg white-text"></i></a></div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-fluid">
        <p>&copy; <a href="/">DMS</a> - Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></p>
      </div>
    </div>
  </footer>
  