

<br><br><br><br><br>

<div class="text-center">
    <h1>All Courses</h1>
</div>
<br>

<div id="content" style="border: black">
    <section class="text-center" id="about">
        <div class="row">
            <div class="col-md-4">
                <div style="text-align: left; padding-left: 115px">
                    <button mdbBtn type="button" color="default" mdbWavesEffect>Add New Course</button>
                </div>
            </div>
            <div class="col-md-4" style="padding-left: 600px">
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>
                </form>
            </div>

        </div>

        <br>
        <div class="container">



            <div class="row">
                <div class="col-md-4 img_container" style="width: auto">
                    <img class="image" style="width: 350px; height: 200px" src="assets/img/course.jpg"
                        alt="team member" />
                    <div class="middle">
                        <div class="text">View</div>
                    </div>
                    <div style="border-style: solid; border-width:thin; border-color: black;">
                        <!-- <div><i class="fa fa-book fa-3x cyan-text"></i></div> -->
                        <h2
                            style="margin-bottom: 0; padding-bottom:0; height:auto; font-size: 16px; font-weight: 700; line-height: 25px; margin: 11px 0 22px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; text-transform: none;">
                            <a style="color: black;" href="#" rel="bookmark">Database Systems (Pr) - 2019</a>
                        </h2>
                        <div style="padding-left: 10%">
                            <hr width="80%">
                        </div>
                        <div class="row">
                            &nbsp; &nbsp;
                            <div class="col-md-4">
                                <i class="fa fa-group"></i>&nbsp; 100 &nbsp;
                                <i class="fa fa-comment"></i>&nbsp; 4 &nbsp;
                            </div>
                            <div class="col-md-4" style="margin-left:auto; margin-right:auto;">Not Enrolled</div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 img_container" style="width: auto">
                    <img class="image" style="width: 350px; height: 200px" src="assets/img/course.jpg"
                        alt="team member" />
                    <div class="middle">
                        <div class="text">View</div>
                    </div>
                    <div style="border-style: solid; border-width:thin; border-color: black;">
                        <!-- <div><i class="fa fa-book fa-3x cyan-text"></i></div> -->
                        <h2
                            style="margin-bottom: 0; padding-bottom:0; height:auto; font-size: 16px; font-weight: 700; line-height: 25px; margin: 11px 0 22px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; text-transform: none;">
                            <a style="color: black;" href="#" rel="bookmark">Database Systems (Th) - 2019</a>
                        </h2>
                        <div style="padding-left: 50px">
                            <hr width="80%">
                        </div>
                        <div class="row">
                            &nbsp; &nbsp;
                            <div class="col-md-4">
                                <i class="fa fa-group"></i>&nbsp; 100 &nbsp;
                                <i class="fa fa-comment"></i>&nbsp; 4 &nbsp;
                            </div>
                            <div class="col-md-4" style="margin-left:auto; margin-right:0;">Not Enrolled</div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 img_container" style="width: auto">
                    <img class="image" style="width: 350px; height: 200px" src="assets/img/course.jpg"
                        alt="team member" />
                    <div class="middle">
                        <div class="text">View</div>
                    </div>
                    <div style="border-style: solid; border-width:thin; border-color: black;">
                        <!-- <div><i class="fa fa-book fa-3x cyan-text"></i></div> -->
                        <h2
                            style="margin-bottom: 0; padding-bottom:0; height:auto; font-size: 16px; font-weight: 700; line-height: 25px; margin: 11px 0 22px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; text-transform: none;">
                            <a style="color: black;" href="#" rel="bookmark">Introduction To Computing - 2019</a>
                        </h2>
                        <div style="padding-left: 50px">
                            <hr width="80%">
                        </div>
                        <div class="row">
                            &nbsp; &nbsp;
                            <div class="col-md-4">
                                <i class="fa fa-group"></i>&nbsp; 100 &nbsp;
                                <i class="fa fa-comment"></i>&nbsp; 4 &nbsp;
                            </div>
                            <div class="col-md-4" style="margin-left:auto; margin-right:0;">Not Enrolled</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
