
  <script>
    $(document).ready(function () {
          $('.mdb-select').materialSelect();
     });
  </script>
 
  <body class="hm-gradient center ">
   <main>
      
      <!--MDB Forms-->
      <div class="container">
          <!-- Grid row -->
          <div class="row">
              <!-- Grid column -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="text-center default-text py-3">Lecture Commands</h3>
                          <!--Body-->
                          <!-- <div class="row">
                            <div class="col-md-6">
                              <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
                            </div> -->
                            <div class="row">
                              <div class="col-md-6">
                                <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
                              </div>
                            </div>
                            
                          
                          <div class="md-form">
                              <i class="fas fa-chalkboard-teacher  prefix grey-text"></i>
                              <input type="text" id="defaultForm-email" class="form-control">
                              <label for="defaultForm-email">Class Name</label>
                          </div>
                          <div class="d-flex justify-content-around">
                            <div class="text-center">
                             <button mdbBtn type="button" color="default" mdbWavesEffect><i class="	fa fa-play"></i></button>
                          </div>
                          <div class="text-center">
                          <button mdbBtn type="button" color="default" mdbWavesEffect><i class="fas fa-check-double"></i></button>
                            </div>

                        </div>
                          </div>
                  
                            
                      
                  </div>
              </div>
              </div>
              </div>
              </main>
              </body>
             
