
<br><br><br>
<h1 style="text-align: center">New Group</h1>
<br>
<div class="container">
   
        <table class="table table-borderless">
           
        <tbody>
            <tr>
                
                    <td rowspan="3">
                            <div class="md-form">
                                    <i class="fa fa-users prefix fa-3x " aria-hidden="true"></i>
                                    <input type="text" id="defaultForm-email" class="form-control">
                                    <label for="defaultForm-email">Group</label>
                                </div>
                       </td>
                    <td ><div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Unchecked">
                        <label class="custom-control-label" for="Unchecked">Permission1</label>
                    </div></td>  
            </tr>
            <tr>
                <td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Unhecked">
                    <label class="custom-control-label" for="Unhecked">Permission2</label>
                </div></td>
            </tr>
            <tr>
                <td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Uchecked">
                    <label class="custom-control-label" for="Uchecked">Permission3</label>
                </div></td>
            </tr>
      
            
           
        </tbody>
    </table>
    <div class="row">
           
                <button mdbBtn type="button" color="default" mdbWavesEffect class="bttn"><b>Add</b></button>
          
        </div>
</div>
