<br><br><br>
<h1 style="text-align: center">Teachers Detail</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button mdbBtn type="button" color="default" mdbWavesEffect><b>Add Teacher</b></button>
        </div>
    </div>
    <table class="table center">
        
        <tbody>
            <tr>
                <th>Name</th>
                <th>Father's Name</th>
                <th>CNIC</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                    <td>Teacher 1</td>
                    <td>ABC</td>
                    <td>9345678765432</td>
                    <td><a href=#><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a href=#><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            <tr>
                    <td>Teacher 2</td>
                    <td>XYZ</td>
                    <td>9345678065432</td>
                    <td><a href=#><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a href=#><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            <tr>
                    <td>Teacher 3</td>
                    <td>GHY</td>
                    <td>9345666765432</td>
                <td><a href=#><i class="fa fa-edit fa-2x"></i></a></td>
                <td><a href=#><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            <tr>
                    <td>Teacher 4</td>
                    <td>ABK</td>
                    <td>9345679765432</td>
                <td><a href=#><i class="fa fa-edit fa-2x"></i></a></td>
                <td><a href=#><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            <tr>
                    <td>Teacher 5</td>
                    <td>JKL</td>
                    <td>9399678765432</td>
                <td><a href=#><i class="fa fa-edit fa-2x"></i></a></td>
                <td><a href=#><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>