

<body class="hm-gradient center ">

<main>
    
    <!--MDB Forms-->
    <div class="container">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center default-text py-3"><i class="fa fa-upload"></i> Upload Course Notes:</h3>
                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <mat-form-field style="padding-left:50px">
                                <mat-label>Select Course</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <form class="md-form">
                            <div class="file-field">
                              <div class="btn btn-primary btn-sm float-left">
                                <span>Choose file</span>
                                <input type="file">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file">
                              </div>
                            </div>
                          </form>
                      
                          <div class="text-center">
                           <button mdbBtn type="button" color="default" mdbWavesEffect>Upload</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </main>
            </body>