<br><br><br>
<h1 style="text-align: center">Lecture Details</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <strong><b>Lecture 1</b></strong>
            <br>
            Something about lecture
        </div>
        <div class="col-md-3">
            <button style="font-size:24px"><i class="fa fa-download"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-play"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div>
        <hr width="40%">
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong><b>Lecture 2</b></strong>
            <br>
            Something about lecture
        </div>
        <div class="col-md-3">
            <button style="font-size:24px"><i class="fa fa-download"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-play"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div>
        <hr width="40%">
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong><b>Lecture 3</b></strong>
            <br>
            Something about lecture
        </div>
        <div class="col-md-3">
            <button style="font-size:24px"><i class="fa fa-download"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-play"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div>
        <hr width="40%">
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong><b>Lecture 4</b></strong>
            <br>
            Something about lecture
        </div>
        <div class="col-md-3">
            <button style="font-size:24px"><i class="fa fa-download"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-play"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div>
        <hr width="40%">
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong><b>Lecture 5</b></strong>
            <br>
            Something about lecture
        </div>
        <div class="col-md-3">
            <button style="font-size:24px"><i class="fa fa-download"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-play"></i></button>
            &nbsp;
            <button style="font-size:24px"><i class="fa fa-remove"></i></button>
        </div>
    </div>
</div>