<br><br><br>
<h1 style="text-align: center">Lectures</h1>
<br>

<div class="container">
    <table class="table">
        <col width="30%">
        <col width="5%">
        <col width="5px">
        <tbody>
            <tr>
                <td style="font-size: 30px"><strong>Lecture 1</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-play"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-download"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Lecture 2</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-play"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-download"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Lecture 3</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-play"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-download"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Lecture 4</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-play"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-download"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td style="font-size: 30px"><strong>Lecture 5</strong></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-play"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-download"
                            aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-default px-3"><i class="fa fa-remove"
                            aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>