<body class="hm-gradient center ">

    <main>

        <!--MDB Forms-->
        <div class="container">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i>Add Teacher</h3>
                            <div class="form-row">
                                <div class="md-form col">
                                    <input type="text" id="defaultForm-email" class="form-control">
                                    <label for="defaultForm-email">First Name</label>
                                </div>
                                <div class="md-form col">
                                    <input type="text" id="defaultForm-pass" class="form-control">
                                    <label for="defaultForm-pass">Last Name</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="md-form col">
                                    <input type="text" id="defaultForm-email" class="form-control">
                                    <label for="defaultForm-email">CNIC</label>
                                </div>
                                <div class="md-form col">
                                    <input type="text" id="defaultForm-pass" class="form-control">
                                    <label for="defaultForm-pass">Email</label>
                                </div>

                            </div>
                            <!-- <div class="row">
                                <select class="mdb-select md-form col">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                      </select>
                                      <select class="mdb-select md-form col">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                      </select>
                                      
                        </div> -->
                            <div class="form-row">
                                <div class="md-form col">
                                    <input type="password" id="defaultForm-email" class="form-control">
                                    <label for="defaultForm-email">Password</label>
                                </div>
                                <div class="md-form col">
                                    <input type="password" id="defaultForm-pass" class="form-control">
                                    <label for="defaultForm-pass">Confirm Password</label>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="md-form col">
                                    <mat-form-field>
                                        <input matInput placeholder="Date Of Birth" [matDatepicker]="simpleDate">
                                        <mat-datepicker-toggle matSuffix [for]="simpleDate"></mat-datepicker-toggle>
                                        <mat-datepicker #simpleDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="md-form col">
                                    <mat-form-field>
                                        <mat-label>Select Institute</mat-label>
                                        <mat-select [(value)]="selected">
                                            <mat-option>None</mat-option>
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="text-center">
                                <button mdbBtn type="button" color="default" mdbWavesEffect>Sign Up</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });</script>
</body>